.name{
     display: inline-block; 
}
.value{
     display: inline-block; 
    margin-left: 2%;
}
h2{
    background-color: orange;
    color: white;
}
img{
    width: 100px;
    margin-left: 30%;
}
.first_sec{
    width: 35%;
    /* display: inline-block; */
    background-color: black;
    color: white;
    margin-left: 2%;
    margin-bottom: 2%;

}
.second_sec{
    /* display: inline-block; */
    margin-left: 5%;
    width: 50%;
    vertical-align: top;
    margin-top: -17px;
}
h1{
    margin-left: 25%;
}
.full{
    display: flex;
}
p,li{
    margin-left: 30px;
}
